<h1 align="center">USER INFO</h1>
<p align="center" style="font-size:20px">You can add remove or modify the user information!</p>
<hr>
<table border='1' align="center">
	<tr>
		<th>username</th>
		<th>password</th>
		<th>action</th>
	</tr>
	{% for user in udict %}
	<tr>
		<td>{{user}}</td>
		<td>{{udict[user]}}</td>
		<td>
			<a href='/deluser?user={{user}}'>delete</a>
			<a href='/updateuser?user={{user}}'>update</a>
		</td>
	</tr>
	{% endfor %}
</table>
<p>

</p>
<form action='/adduser' align="center" method="POST">
	user:<input type="text" name='user'>
	pwd:<input type="text" name='password'>
	<input type="submit" value='add'>
</form>
<form align="center">
	<a href='/logout'>logout</a>
</form>
